@import "../utils/mixin";
@import "../utils/variable";

.list__item {
  @include flex($justify: space-between, $align: center);

  padding: 15px;
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 3px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
  }
}

.list__item--title {
  @include flex($justify: space-between);

  flex-grow: 8;
  margin-right: 20px;
}

.list__item--details {
  display: none;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: map-get($color, third) dotted 3px;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
